main h1 {
    margin-top: 50px;
    color: #0099CC; /* Azul-celeste */
    text-align: center; /* Centralizar para melhor apresentação */
}

.tables {
    margin: 25px 10px;
    background-color: #E6F7FF; /* Azul-claro para destaque */
    border: 2px solid #0099CC; /* Azul-celeste */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 10px;
    color: #006699; /* Azul mais escuro para o texto */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.icons {
    display: none;
    flex-direction: column;
    color: #FFFFFF; /* Texto branco */
}

@media (max-width: 632px) {
    .Column {
        display: none;
        flex-direction: column;
        gap: 5px;
    }

    .icons {
        display: flex;
        color: #FFFFFF; /* Branco para ícones */
    }
}
